nav {
    background-color: #444;
    color: #fff;
    padding: 10px;
    text-align: center;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav ul li {
    display: inline;
    margin-right: 20px;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
}

.aside{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    padding: 150px;
    width: 187px;
    line-height: 35px;
    font-size: 18px;
    transition: font-size 0.3s ease-in-out;
    text-decoration: none;
}

.topico{
    text-decoration: none;
    transition: font-size 0.3s ease-in-out;
    
}

.li-1:hover {
    font-size: 24px;
    
}

.li-2:hover {
    font-size: 24px;
}

.li-3:hover {
    font-size: 24px;
}

.link{
    text-decoration: none;
    transition: font-size 0.3s ease-in-out;
}

.li1:hover{
    font-size: 24px;
}

.li2:hover{
    font-size: 24px;
}

.li3:hover{
    font-size: 24px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header, footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
}
main, aside {
    display: inline-block;
    vertical-align: top;
    width: 45%;
    padding: 20px;
}
.main_class {
    background-color: #f0f0f0;
    width: 65%;
}


aside {
    background-color: #e0e0e0;
    width: 10%;
    height: 385px;
    padding: 100px;
}

.section1{
    background-color: #333;
    color:#fff;
    padding: 10px;
}

.slider {
    display: flex;
    height: 400px;
    width: 1000px;
    margin: auto;
    margin-top: 0px;
    position: relative;
}

.slider li {
    list-style: none;
    position: absolute;
}

.imagem-sec1 {
    margin: auto;
    height: 100%;
    width: 100px;
    vertical-align: top;
}

.slider input {
    display: none;
}

.slider label {
    bottom: 20px;
    cursor: pointer;
    display: block;
    height: 10px;
    position: absolute;
    width: 10px;
    z-index: 10;
    transition: .2s;
}

.slider label:hover{
    background-color: #fff;
}

.slider li:nth-child(1) label {
    width: 50px;
    height: 10px;
    border: 2px solid #fff;
    margin: 6px;
    cursor: pointer;
    left: 320px;
    top: 370px;
    border-radius: 5px;
}

.slider li:nth-child(2) label {
    width: 50px;
    height: 10px;
    border: 2px solid #fff;
    margin: 6px;
    cursor: pointer;
    left: 380px;
    top: 370px;
    border-radius: 5px;
}

.slider li:nth-child(3) label {
    width: 50px;
    height: 10px;
    border: 2px solid #fff;
    margin: 6px;
    cursor: pointer;
    left: 440px;
    top: 370px;
    border-radius: 5px;
}


.slider img {
    opacity: 0;
    visibility: hidden;
    transition: .0s;
    width: 100%;
    height: 100%;
}

.slider li input:checked ~ img {
    opacity: 1;
    visibility: visible;
    width:880px;
    height:400px;
}

.section2{
    background-color: #333;
    color:#fff;
    padding: 7px;
}

main{
    width: 100%;
}

.login{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

#h1-1{
    text-align: center;
}

#enviar{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    width: 170px;
    height: 25px;
    background-color: rgb(88, 88, 207);
}

@media only screen and (max-width: 600px) {
    main, aside {
        display: block;
        width: 100%;
    }
}